

.a{
    margin-top: 10%;
    margin-left: 40%;
}
.b{
    margin-top: -17%;
    margin-left: 10%;
}
h1{
    text-align: center;
    color: orange;
}
.c{
    margin-left: 70%;
    margin-top: -19%;
}
.text{
    margin-top: 7%;
    margin-left: 17%;
    font-size: 140%;
}
.text1{
    margin-top: -3%;
    margin-left: 47%;
    font-size: 140%;
}
.text2{
    margin-top: -4%;
    margin-left: 77%;
    font-size: 140%;
}
.d{
    
    margin-top: 14%;
    margin-left: -10%;
    color: orange;
    
}
h2{
    text-align: center;
    color: orange;
    margin-top: 8%;
}
